# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\11071\OneDrive\CPlusWorkSpace\Linux_C_Book_Code\Chapter07_03\bookCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
